
body {
font-family : Geneva, Arial, Helvetica, sans-serif;
font-size : 9em;
line-height : 1.6em;
color : #fff;
background-color : #0000ff;
padding : 0 40px;
}
p, li, td {
letter-spacing : 0.1em;
color : #CCCCCC;
}
h1 {
font-size : 24px;
padding : 4px 0;
font-variant : small-caps;
letter-spacing : 0.5em;
line-height : 2em;
}
h2 {
font-size : 20px;
padding : 6px;
font-variant : small-caps;
letter-spacing : 0.5em;
background-color : #999933;
}
h3 {
font-size : 17px;
letter-spacing : 0.5em;
border-bottom-width : 1px;
border-bottom-style : inset;
border-bottom-color : #9B9744;
padding : 4px 0;
font-variant : small-caps;
font-style : italic;
}
a:link {
font-weight : bold;
color : #9B9744;
text-decoration : none;
}
a:visited {
font-weight : bold;
color : #9B9744;
text-decoration : none;
}
a:hover {
color : #FFFF00;
}
ul li {
list-style-image : url(images/star.png);
margin-left : 12px;
}
ol {
margin-left : 14px;
}
table {
border : #999933 solid 1px;
}
td {
padding : 6px;
border : #999933 solid 1px;
}
th {
font-weight : bold;
background-color : #999938;
text-align : center;
padding : 6px;
border : #999933 solid 1px;
}
hr {
border : #999933 solid 1px;
}
img {
border : #999933 solid 1px;
}
iframe {
border : #999933 solid 1px;
padding : 8px;
margin : 8px;
}